.navb{
    //background-color: #94c5f6;
    padding: 20px;
   
}
ol{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
}

li>a{
    
    text-decoration: none;
    padding: 30px; /* Applies 10px padding to top, right, bottom, and left */
  display: inline-block;
}